/* general css */
.full {
  height: 100vh;
}
.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}

/* body starts here */
.all img {
  width: 40vw;
  min-width: 320px;
}
.full {
  align-items: center;
}

#EO {
  background: -webkit-linear-gradient(
    127deg,
    rgb(177, 110, 34),
    rgb(204, 165, 68)
  );
  background: linear-gradient(127deg, rgb(177, 110, 34), rgb(204, 165, 68));
}
#SSD {
  background-color: azure;
}
#GC {
  background-color: beige;
}

.department {
  display: flex;
  flex-direction: column;
}
.full {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.carousel-item {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.carousel-item img {
  object-fit: cover;
  width: 100vw;
  height: 96vh;
}

.description{
  position: absolute;
  top: 100px;
  left: 5%;
  right: 5%;
  background: rgb(0,0,0,0.5);
  

}
/* .sidebar {
  display: flex;
  flex: 2 0 0;
}
.left,
.right {
  display: flex;
  flex: 9 0 0;
} */

/* carousal */
/* .carousel {
  margin-left:20%;
  width: 75%;
} */
/* Since positioning the image, we need to help out the caption */
/* .carousel-caption {
  bottom: 16rem;
  z-index:130;
} */
/* .blackbox{
  background:rgb(0, 0, 0,0.5); 
  padding: 2%;
} */
/* Declare heights because of positioning of img element */
/* .carousel-item {
  height: 35rem;
}
.carousel-item > img {
  position: absolute;
  width: 100%;
  height: 31rem;  
} */

/* .intro{
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.intro h1{
  text-align: center;
  background: greenyellow;
} */
/* .intro .bottomIntro{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.intro .bottomIntro .left{
  display: flex;
  flex-direction: column;
  flex: 3 0 0;
}
.intro .bottomIntro .right{
  flex: 5 0 0;
}

img{
  width:inherit;
  height: auto;
} */
