@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  font-family: 'Montserrat', sans-serif;
}
#nav img {
  position: fixed;
  top: 1.25rem;
  left: 2.5rem;
  z-index: 6;
  height: 3.5rem;
}
#nav span {
  position: fixed;
  font-size: 38px;
  font-weight: 400;
  z-index: 120;
  color: black;
  top: 87vh;
  left: 42vw;
}
#nav h1 {
  position: fixed;
  top: 2.25rem;
  left: 6.5rem;
  z-index: 6;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0;
  color: #232323;
}
#nav h1 > span {
  text-transform: none;
  opacity: 0.5;
  font-weight: 300;
  font-size: 12px;
}
#nav a {
  text-decoration: none;
}
#nav input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}
#nav input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #020304;
  transition: 0.5s;
}

#nav-logo + #burger:checked {
  top: 12rem;
}

#nav input + label span:first-child {
  top: 3px;
}
#nav input + label span:last-child {
  top: 16px;
}
#nav label:hover {
  cursor: pointer;
}
#nav input:checked + label span {
  opacity: 0;
  top: 50%;
}

#nav input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
  background: white;
}
#nav input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
  background: white;
}
#nav input ~ nav {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}

#nav input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
#nav input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
}
#nav input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}
#nav input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;
}
#nav input:checked ~ #colorchange h1,
#nav input:checked ~ #colorchange h1:visited {
  color: white;
  transition: 0.5s;
  transition-delay: 0.5s;
}

#colorchange:hover {
  color: #47a3da;
}
#nav input:checked ~ #colorchange:hover {
  color: white;
  transition: 0.5s;
  transition-delay: 0.5s;
}

/* mega style navbar */
/* General Demo Style */
/* @import url(https://fonts.googleapis.com/css?family=Lato:300, 400, 700); */

.icon-drop:before,
.icon-arrow-left:before {
  font-family: 'fontawesome';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px;
}

.icon-drop:before {
  content: '\e000';
}
.icon-arrow-left:before {
  content: '\f060';
}
.cbp-hrmenu {
  width: 100%;
  border-bottom: 4px solid #47a3da;
  text-align: left;
}

/* general ul style */
.cbp-hrmenu ul {
  margin: 4px 25px;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}
.cbp-hrmenu .cbp-hrsub-inner {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
  width: 90%;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 1.875em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 95vh;
}

.cbp-hrmenu > ul > li {
  display: inline-block;
}

.cbp-hrmenu > ul > li > a {
  font-weight: 700;
  padding: 1em 2em;
  color: #999;
  display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
  color: #47a3da;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
  /* color: #fff; */
  color: #eceaea;
  /* background: #47a3da; */
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
  display: none;
  position: absolute;
  background: #47a3da;
  background-image: url('https://gymkhana.iitb.ac.in/~nss/tem/common/collage.jpeg');
  width: 100%;
  left: 0;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
}

.cbp-hropen .cbp-hrsub {
  display: block;
  padding: 5em 0;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
  display: inline-block;
  margin-right: 40px;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
  content: ' ';
  display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
  clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
  line-height: 2em;
}

.cbp-hrsub a {
  color: #afdefa;
  margin: 0;
  font-size: 22px;
  font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) {
  .cbp-hrmenu {
    font-size: 80%;
  }
}

@media screen and (max-width: 43em) {
  .cbp-hrmenu {
    font-size: 120%;
    border: none;
  }

  .cbp-hrmenu > ul,
  .cbp-hrmenu .cbp-hrsub-inner {
    width: 100%;
    padding: 0;
  }

  .cbp-hrmenu .cbp-hrsub-inner {
    /* padding: 0 2em; */
    font-size: 75%;
  }

  .cbp-hrmenu > ul > li {
    display: block;
    border-bottom: 4px solid #47a3da;
  }

  .cbp-hrmenu > ul > li > a {
    display: block;
    padding: 1em 3em;
  }

  .cbp-hrmenu .cbp-hrsub {
    position: relative;
  }

  .cbp-hrsub a {
    padding-top: 0.6em;
  }
}

@media screen and (max-width: 36em) {
  .cbp-hrmenu .cbp-hrsub-inner > div {
    width: 100%;
    float: none;
    padding: 0 2em;
  }
}

.nav-mobile ul li a {
  font-size: 18px;
}
