html {
  scroll-behavior: smooth;
}
/* general css */
.full {
  height: 100vh;
}
.flex {
  display: flex;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}

/* body starts here */
.all img {
  width: 40vw;
  min-width: 320px;
}
.full {
  align-items: center;
}

#EO {
  background-color: bisque;
}
#SSD {
  background-color: azure;
}
#GC {
  background-color: beige;
}
.department {
}
.sidebar {
  display: flex;
  flex: 2 0 0;
}
.left,
.right {
  display: flex;
  flex: 9 0 0;
}

/* carousal */
/* .carousel{
  padding-top: 20px;
  width: 55px;
  overflow: hidden;
  height: 50px;
  position: relative;
}.carousel ul{
  position: relative;
  list-style: none;
  list-style-type: none;
  margin: 0;
  height: 50px;
  padding: 0;
}.carousel ul li{
  position: absolute;
  height: 25px;
  width: 50px;
  float: left;
  margin-right: 1px;
  background: #f2f2f2;
  text-align: center;
  padding-top: 25px;
} */