html {
  scroll-behavior: smooth;
}
/* general css */
.full {
  height: 100vh;
}
.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}

/* body starts here */
.all img {
  width: 40vw;
  min-width: 320px;
}
.full {
  align-items: center;
}

#EO {
  /* background-color: bisque; */
  background: -webkit-linear-gradient(
    137deg,
    rgb(246, 147, 98),
    rgb(250, 248, 112)
  );
  background: linear-gradient(137deg, rgb(246, 147, 98), rgb(250, 248, 112));
}
#SSD {
  /* background-color: azure; */
  background: -webkit-linear-gradient(
    158deg,
    rgb(126, 141, 235),
    rgb(71, 217, 246)
  );
  background: linear-gradient(158deg, rgb(126, 141, 235), rgb(71, 217, 246));
}
#GC {
  background-color: beige;
}
.sidebar {
  display: flex;
  flex: 2 0 0;
}
.left,
.right {
  display: flex;
  flex: 9 0 0;
}