#myvideo:after {
  background-color: #37b721; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #64b3f4,
    #37b721
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #64b3f4,
    #37b721
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#mywelcome {
  /* background: -webkit-linear-gradient(
    76deg,
    rgb(105, 22, 237),
    rgb(57, 156, 11)
  );
  background: linear-gradient(76deg, rgb(105, 22, 237), rgb(57, 156, 11)); */
  background: -webkit-radial-gradient(rgb(248, 248, 248), rgb(98, 100, 97));
  background: radial-gradient(rgb(248, 248, 248), rgb(98, 100, 97));
}
a:hover,
a:focus,
.mybook-now-btn,
.mycopy-right a:hover,
.mycopy-right a:focus,
.mysend-msg-btn:hover,
.mysend-msg-btn:focus,
.mylogo,
.mylogo:hover,
.mylogo:focus,
.myclient-quote,
.myclients-slider .slick-prev,
.myclients-slider .slick-next,
.myclients-slider .slick-prev::before,
.myclients-slider .slick-next::before,
.my-why-us-single-icon {
  color: #37b721;
}
.scrollToTop,
.mytestimonial-slide .slick-dots li.slick-active,
#mycallto-action {
  background-color: #2123b7;
}
.mysocial-media a:hover,
.mysocial-media a:focus {
  border: 1px solid #37b721;
  color: #37b721;
}
.mycontact-form .form-control:focus,
.myfeatured-tours-single-info .mybook-now-btn {
  border: 1px solid #37b721;
}
.mysend-msg-btn,
.mysend-msg-btn:focus,
.myregister-btn:hover,
.myregister-btn:focus {
  border: 1px solid #37b721;
  background-color: #37b721;
}
.myclients-slider .slick-prev,
.myclients-slider .slick-next {
  border: 2px solid #37b721;
}
