section .full,
#portfolio {
  padding: 50px 0 !important;
}
.nav-distribute {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#intro {
  text-align: center;
  padding: 0;
}
.flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.full {
  min-height: 100vh;
  /* background-color: bisque; */
}
.perfect-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restrict600 {
  max-width: 600px;
  padding: 0 40px;
  flex-wrap: wrap;
}
.space-between {
  display: flex;
  justify-content: space-around;
}
.restrict600 a {
  margin: 15px;
  flex: 1 0 0;
  min-width: 200px;
  max-width: 200px;
}
#team {
  padding: 50px 0 !important;
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
#team .team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.team .heads, .AA {
  flex: 1 0 200px;
}
#initiatives {
  width: 100%;
}
#EO {
  padding: 0;
}

.EO {
  /* background-color: bisque; */
  background: -webkit-linear-gradient(
    137deg,
    rgb(246, 147, 98),
    rgb(250, 248, 112)
  );
  background: linear-gradient(137deg, rgb(246, 147, 98), rgb(250, 248, 112));
}
.SSD {
  /* background-color: azure; */
  background: -webkit-linear-gradient(
    158deg,
    rgb(126, 141, 235),
    rgb(71, 217, 246)
  );
  background: linear-gradient(158deg, rgb(126, 141, 235), rgb(71, 217, 246));
}
.GC {
  background-color: beige;
}