a {
  color: #48c740;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #48b740;
}
.text-primary {
  color: #48c740;
}
.btn-primary {
  color: white;
  background-color: #48c740;
  border-color: #48c740;

  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #48b740;
  border-color: #48a740;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #48c740;
  border-color: #48c740;
}
.btn-primary .badge {
  color: #48c740;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #48c740;
  border-color: #48c740;

  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #48b740;
  border-color: #48a740;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #48c740;
  border-color: #48c740;
}
.btn-xl .badge {
  color: #48c740;
  background-color: white;
}
.navbar-custom .navbar-brand {
  color: #48c740;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #48b740;
}
.navbar-custom .navbar-toggle {
  background-color: #48c740;
  border-color: #48c740;

  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #48c740;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #48c740;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #48c740;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #48b740;
}
section#contact .form-control:focus {
  border-color: #48c740;
  box-shadow: none;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #48c740;
}
::-moz-selection {
  text-shadow: none;
  background: #48c740;
}
::selection {
  text-shadow: none;
  background: #48c740;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(97, 232, 88, 0.9);
  position: absolute;
  width: 100%;
  height: 43%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
.copyright {
  color: #48c740;
}
.GC {
  background-color: beige;
}

.department-color {
}
.lead a:hover {
  color: #1b9419;
}