header {
  background-color: #00d8ff;
}
a {
  color: #00d8ff;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #00c8ff;
}
.text-primary {
  color: #00d8ff;
}
.btn-primary {
  color: white;
  background-color: #00d8ff;
  border-color: #00d8ff;

  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #00c8ff;
  border-color: #00b8ff;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #00d8ff;
  border-color: #00d8ff;
}
.btn-primary .badge {
  color: #00d8ff;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: rgba(0, 255, 242, 0.6);
  border-color: #00d8ff;

  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #00c8ff;
  border-color: #00b8ff;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #00d8ff;
  border-color: #00d8ff;
}
.btn-xl .badge {
  color: #00d8ff;
  background-color: white;
}
.navbar-custom .navbar-brand {
  color: #00d8ff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #00c8ff;
}
.navbar-custom .navbar-toggle {
  background-color: #00d8ff;
  border-color: #00d8ff;

  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #00d8ff;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #00d8ff;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #00d8ff;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #00c8ff;
}
section#contact .form-control:focus {
  border-color: #00d8ff;
  box-shadow: none;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #00d8ff;
}
::-moz-selection {
  text-shadow: none;
  background: #00d8ff;
}
::selection {
  text-shadow: none;
  background: #00d8ff;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(0, 255, 242, 0.6);
  position: absolute;
  width: 100%;
  height: 225px;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
.copyright,
.quicklinks a {
  color: #00d8ff;
}

.Media {
  background: -webkit-linear-gradient(
    90deg,
    rgb(0, 216, 255),
    rgb(0, 255, 242)
  );
  background: linear-gradient(90deg, rgb(0, 216, 255), rgb(0, 255, 242));
}

.lead a:hover {
  color: #00d8ff;
}
.dropdown-menu {
  background: #00c8ff;
}
