@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 1rem;
  }
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav .side-link {
  padding: 0.75rem 0.75rem 0.75rem 2rem;
  text-decoration: none;
  font-size: 1.126rem;
  font-weight: bold;
  color: #00153a;
  display: block;
  transition: 0.3s;
}
.sidenav .side-link:hover {
  color: #284a86;
}
.sidenav button {
  width: 17.713rem;
  margin: 0.563rem;
  padding: 0.563rem 0.563rem 0.563rem 0.563rem;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 1.777rem;
  font-size: 2.369rem;
  margin-left: 3.157rem;
}
.sidenav-menu {
  width: 17.713rem;
}
