/* .fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}

.partOne-content .partTwo-content{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #ddd;
    z-index: -99;
    opacity: 0.85;
    z-index: 2;
} */

body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
.shortDetailsContent, .detailsContent, .largeDetailsContent {
  font-family: 'Montserrat',sans-serif;
}
.titleContent, .shortTitleContent, .largeTitleContent{
    font-family: 'Montserrat',sans-serif;
    font-style: bold;
}

/* Main CSS Stars */
.detailsContent::first-letter { 
    font-size: 160%;
    text-transform: uppercase;
  }
.shortDetailsContent::first-letter { 
    font-size: 160%;
    text-transform: uppercase;
  }
.largeDetailsContent::first-letter { 
    font-size: 160%;
    text-transform: uppercase;
  }
.birdName{
    z-index: 1;
    opacity: 0.9;
    font-family: monospace;
    text-align: center;
    background-color: #23335e;
    font-size: 4rem;
    text-shadow: #d04087 0px 3px 8px;
    box-shadow: 0px 3px 7px grey;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: white;
}
#content{
    color: black;
}
.partOne-content{

}
.moderateContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 1rem;
    background-color: #ddd;
    border-left: 1rem solid #23335e;
    background-color: white;
    margin: 1rem;
    vertical-align: top;
    box-shadow: 0px 0px 5px;
}
.moderateContentMain{
    display: flex;
    flex-direction: row;
}
.moderateContentLayoutOne{
    display: flex;
}
.moderateContentLayoutTwo{
    display: flex;
    padding-top: 1rem;
}
.titleContent{
    font-size: 2.3rem;
    font-weight: bold;
    border-bottom: 0.2rem solid #23335e;
}
.detailsContent{
    width: 95%; 
    padding-left: inherit;
    font-size: 1.7rem;
}
.shortContentLayout{
    display: flex;
}
.birdImage{
    margin-top: 1rem;
    width: auto;
    vertical-align: middle;
   text-align: center;
}
#img{
    border: 5px solid white;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    max-height: 50vh;
    box-shadow: 0px 0px 3px;
}
.shortContentLayoutOne{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.shortContent{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    background-color: #fff;
    border-left: 1rem solid #d04087;
    margin: 1rem;
    vertical-align: top;
    box-shadow: 0px 0px 5px;
}
.shortTitleContent{
    font-size: 2.3rem;
    font-weight: bold;
    border-bottom: 0.2rem solid #d04087;
}
.shortDetailsContent{
    padding-left: inherit;
    font-size: 1.7rem;
}


.partTwo-content{

}
.largeContentLayoutOne{
    display: flex;
}
.largeContent{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    padding: 1rem;
    background-color: #ddd;
    background-color: #fff;
    border-left: 1rem solid #23335e;
    margin: 1rem;
    vertical-align: top;
    box-shadow: 0px 0px 5px;
}
.largeTitleContent{
    border-bottom: 0.2rem solid #23335e;
    font-size: 2.3rem;
    font-weight: bold;
}
.largeDetailsContent{
    padding-left: inherit;
    font-size: 1.7rem;
}
@media screen and (max-width: 480px){
    .titleContent{
        width: auto;
    }
    .shortTitleContent{
        width: auto;
    }
    .largeTitleContent{
        width:auto;
    }
    #img{
        border: 5px solid white;
        vertical-align: middle;
        display: inline-block;
        width: 95%;
        max-height: 50vh;
    }
    .moderateContentMain{
        display: flex;
        flex-direction: column;
    }
    .moderateContent{
        width: auto;
    }
    .shortContentLayout{
        display: block;
    }
    .largeContentLayoutOne{
        display: block;
    }
    .largeContent{
        display: block;
        flex-direction: column;
        width: auto;
        text-align: left;
        padding: 1rem;
        background-color: #ddd;
        background-color: #fff;
        border-left: 1rem solid #23335e;
        margin: 1rem;
        vertical-align: top;
    }
  }