.Vinvert {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.scrollToTop {
    bottom: 60px;
    color: #ffffff;
    display: none;
    font-size: 30px;
    line-height: 50px;
    position: fixed;
    right: 20px;
    text-decoration: none;
    width: 50px;
    z-index: 999;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    height: 55px;
    background: #47a3da;
    border: 1px solid;
    border-radius: 30px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    /*-webkit-transform: scale(1.5, 1);
    transform: scale(1.5, 1); */
  }
  
  .scrollToTop:hover,
  .scrollToTop:focus {
    color: #fff;
  }
  
  .scrollToTop:hover {
    border-right-width: 1px;
    border-bottom-width: 1px;
  }