@media (max-width: 768px) {
  .nav-mycontainer{
    display: none;
  }
}
@media(min-width: 768px){
  .navbar, .navbar-brand {
    display: none !important;
  }
  .nav-mycontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }
  .desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}



.space {
  padding: 0 5vw;
}

.mycontainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#myNav {
  margin: 4px auto;
  margin-top: 5px;
}
nav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
}
nav .navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav #hamburger {
  display: none;
}
nav .identity {
  display: flex;
  align-items: center;
  flex-direction: row;
}
nav .identity p {
  /* padding-top: 0.5rem; */
  padding-left: 1rem;
  color: #00153a;
}

.navbar-contents {
  display: flex;
  margin-bottom: 0;
  z-index: 18;
}
.navbar-contents li {
  margin: 0 2rem 0 0;
  list-style-type: none;
  padding: 0.5rem 0rem 0.5rem 0;
}
.navbar-contents li a:focus,
.navbar-contents li a:hover {
  border-bottom: 2px solid #284a86;
}
.navbar-contents li a {
  padding: 0.5rem 0rem 0.5rem 0;
  text-decoration: none;
  color: black;
}
.navbar-contents .active {
  border-bottom: 2px solid #284a86;
}

@media (min-width: 768px) {
  .mycontainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .mycontainer {
    width: 910px;
  }
}
@media (min-width: 1200px) {
  .mycontainer {
    width: 1170px;
  }
}