/* Statistics */
/* 
.statistics-section {
  position: relative;
  background-color: gray;
   background: url(../images/bg/statistics.jpg);
  background-size: cover;
  z-index: 1;
}

.statistics {
  margin: 25px 0;
  overflow: hidden;
  color: #ffffff;
}

.statistics.block .statistics-icon,
.statistics.block .statistics-content {
  width: auto;
  float: none;
  text-align: center;
}

.statistics-icon {
  width: 30%;
  text-align: center;
  margin-right: 5%;
  float: left;
  font-size: 50px;
}

.statistics-content {
  float: left;
  width: 65%;
  text-align: left;
}

.statistics-content > h5 {
  font-size: 34px;
  margin-top: 0;
}

.statistics-content > span {
  display: block;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
} */

/* Statistics */

.statistics-section {
  background-color: gray;
}

.statistics-center{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.statistics {
  margin: 8px;
  flex: 0 0 150px;
}

.statistics.block .statistics-icon,
.statistics.block .statistics-content {
  
}

.statistics-icon {
  
}

.statistics-content {
  
}

.statistics-content > h5 {
  margin: 0px;
}

.statistics-content > span {
  
}
