
*, *::after, *::before, h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
*, *::after, *::before, h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.containerOne{
    display: flex;
}
body{
    background-color: black;
}
.containerTitle{
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: Carson, 'Trebuchet MS', sans-serif;
    position: relative;
    margin-top: 3.875rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 3em; 
    font-style: italic;
}