.containers{
    display: flex;
    flex-direction: column;
}
.containerOne{
    height: 90vh;
    text-align: center;
    font-family: GreatVibes, cursive;
}
.containerOneTitleOne{
    margin-top: 10rem;
    font-size: 1rem;
}
.containerOneTitleTwo{
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
}
.containerOneTitleThree{
    font-size: 2rem;
}
.containerTwo{
    width: 50%;
    float: center;
    margin: 0 auto;
    height: 90vh;
    text-align: center;
    font-family: GreatVibes, cursive;
}
.containerTwoTitleOne{
    margin: 5rem;
    font-size: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
}
.containerTwoContent{
    font-size: 1.3rem;
}
.containerThree{
    width: 40%;
    float: right;
    margin: 0 auto;
    height: 90vh;
    text-align: center;
    font-family: GreatVibes, cursive;
}
.containerThreeTitle{
    margin: 3rem;
    font-size: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
}
.containerThreeContentDetails{
    font-size: 1.3rem;
}
.containerThreeButton{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.containerThreeButtonOne > a{
    text-decoration: none;
    color: black;
    margin: 2rem;
    text-align: left;
}
.containerThreeButtonTwo > a{
    text-decoration: none;
    color: black;
    margin: 2rem;
    text-align: right;
}
.containerThreeButtonOne{
    border-style: solid;
}
.containerThreeButtonTwo{
    border-style: solid;
}
.containerThreeButtonOne:hover{
    background-color: black;
}
.containerThreeButtonOne>a:hover{
    color: white;
}
.containerThreeButtonTwo:hover{
    background-color: black;
}
.containerThreeButtonTwo>a:hover{
    color: white;
}
.containerFour{
    height: 90vh;
    text-align: center;
    font-family: GreatVibes, cursive;
}
.containerFourTitleOne{
    margin: 3rem;
    font-size: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
}
.containerFourCards{
    display: flex;
    justify-content: space-evenly;
}
.containerFourLeftCard>img{
    justify-content: right;
    width: 45%;
    float: left;
    height: 50vh;
    margin: 1rem;
}
.containerFourRightCard{
    width: 50%;
    float: right;
    margin: 0 auto;
    height: 90vh;
    text-align: center;
    font-family: GreatVibes, cursive;
}
.containerFourTitleTwo{
    margin-top: 1rem;
    text-align: left;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
}
.containerFourTitleTwoMini{
    text-align: left;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}
.containerFourContent{
    margin-top: 1rem;
    font-size: 1.3rem;
    width: 60%;
}
.containerFive{
    height: 90vh;
    text-align: center;
    font-family: GreatVibes, cursive;
}
.containerFiveTitle{
    font-size: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
}
.containerFiveHeadingOne{
    margin-top: 3rem;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
}
.containerFiveContentOne{
    margin: 1rem;
    font-size: 1.3rem;
}
.containerFiveHeadingTwo{
    margin-top: 3rem;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
}
.containerFiveContainTwo{
    margin: 1rem;
    font-size: 1.3rem;
}

