.headContentAfterVideo{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    transform: translateY(0);
    transition: 500ms;
}
.headContentAfterVideo:hover{
    transform: translateY(-5px);
    background: seagreen;
    transition: 500ms;
}
.headContentAfterVideo:hover>a{
    color: white;
}
.homeContentTitle{
    overflow: auto;
}
.tags>ul{
    list-style: none;
}
.tags>ul>li{
    text-align: center;
    font-size: 1.2rem;
}
.headDownloadDiv{
    width: 100% !important;
    text-align: center;
}
#sectionFooter{
    margin-top: 0% !important;
}